#app {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'cinzel';
}

@font-face {
    font-family: 'cinzel';
    src: url(./Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'homeapple';
    src: url(./HomemadeApple-Regular.ttf);
}

@font-face {
    font-family: 'specialelite';
    src: url(./SpecialElite-Regular.ttf);
}

html {
    color-scheme: light dark;
    --light-color: #333;
    --light-recolor: #fff;
    --light-bg: #fff;
    --light-rebg: #333;
    --light-boxshadow: rgba(0, 0, 0, 0.2);
    --light-reboxshadow: rgba(255, 255, 255, 0.2);
    --light-textshadow: rgba(0, 0, 0, 0.3);
    --light-retextshadow: rgba(255, 255, 255, 0.3);

    --dark-color: rgba(255, 255, 255, .87);
    --dark-bg: #333;
    --dark-recolor: #333;
    --dark-rebg: #fff;
    --dark-boxshadow: rgba(255, 255, 255, 0.2);
    --dark-reboxshadow: rgba(0, 0, 0, 0.2);
    --dark-textshadow: rgba(255, 255, 255, 0.3);
    --dark-retextshadow: rgba(0, 0, 0, 0.3);
}

html[data-mode='dark'] {
    --magic-color: var(--dark-color);
    --magic-recolor: var(--dark-recolor);
    --magic-bg: var(--dark-bg);
    --magic-rebg: var(--dark-rebg);
    --magic-boxshadow: var(--dark-boxshadow);
    --magic-reboxshadow: var(--dark-reboxshadow);
    --magic-textshadow: var(--dark-textshadow);
    --magic-retextshadow: var(--dark-retextshadow);
}

html {
    --magic-color: var(--light-color);
    --magic-recolor: var(--light-recolor);
    --magic-bg: var(--light-bg);
    --magic-rebg: var(--light-rebg);
    --magic-boxshadow: var(--light-boxshadow);
    --magic-reboxshadow: var(--light-reboxshadow);
    --magic-textshadow: var(--light-textshadow);
    --magic-retextshadow: var(--light-retextshadow);
}
